<div class="w-full h-80 relative p-6">
  <!-- Color blob -->
  <div class="h-48 w-80 absolute blur-3xl top-8 left-8">
    <div
      class="h-full w-full opacity-60 bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 [clip-path:polygon(61%_100%,92%_100%,100%_0,0_74%,20%_0)]"
    ></div>
  </div>

  <!-- Content -->
  <div class="w-full text-right flex flex-col items-end relative z-10">
    <h1>Lorem Ipsum Dolor</h1>
    <p class="text-balance">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <button
      class="bg-blue-600 text-white px-4 py-2 rounded-lg cursor-pointer hover:bg-blue-700 transition"
    >
      Learn More →
    </button>
  </div>
</div>