<div class="w-full h-80 relative flex flex-col justify-center items-center">
  <h1 class="!text-2xl md:!text-3xl !font-semibold text-center">
    Lorem Ipsum Dolor Sit Amet
  </h1>
  <h1 class="!text-2xl md:!text-3xl !font-semibold text-center">
    Consectetur 
    <span 
      class="before:content-['Adipiscing_Elit_Sed_Do_Eiusmod'] before:absolute before:bg-clip-text before:text-transparent before:bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] before:from-gray-300 before:via-fuchsia-600 before:to-orange-600"
      id="gradient-text"
    >
      Adipiscing Elit Sed Do Eiusmod
    </span>
  </h1>
  <button
    class="rounded px-4 py-2 bg-transparent border-2 border-current !mt-6 cursor-pointer hover:bg-gray-700 hover:text-white"
  >
    Learn More →
  </button>
</div>

<style>
  #gradient-text {
    --percent: 100%;
  }
  #gradient-text::before {
    clip-path: inset(0 var(--percent) 0 0);
  }
</style>

<script>
    document.addEventListener("scroll", () => {
      const delt_y = window.scrollY;
      const MAX_SCROLL_INTERVAL = 300;
      const percent =
        100 - Math.max(0, Math.min(100, (delt_y / MAX_SCROLL_INTERVAL) * 100));

      (document
        .querySelector("#gradient-text") as HTMLElement)
        .style.setProperty("--percent", `${percent}%`);
    });
</script>
